<p>Oi {{user.available_name}},</p>

<p>
  Conversa #{{conversation.display_id}} em {{ inbox.name }} 
  perdeu o prazo de resposta para a próxima resposta de acordo com a política {{ sla_policy.name }}.
</p>

<p>
<a href="{{action_url}}">Por favor, atenda com urgência.</a>
</p>